
@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat-Black.otf');
}

body {
    font-family: Montserrat !important;
    font-size: 12px;
}

.bokka-color {color: #2d6e74;}

.bokka-bg-color {background-color: #2d6e74;}

.bokka-title-color {color: #164166;}

.menu-text-color {color: #c4c9cc;}



#wrap-header {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 600px;

}

#wrap-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-image: url('../assets/circle_header_background.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#wrap-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-image: url('../assets/header_backround.png');
    background-repeat: no-repeat;
    background-position: center;
}

#mobile-phone {
    position: absolute;
    top:30px;
    left: 1200px;
}

#zero-trading-fee {
    width:120%;
    height: 59px;
    background-image: url('../assets/zero-trading-feature.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

#text-banner > div > div > h2 {
    font-weight: 700;
    font-size: 1.5em;
}

#banner-btn {
    border-radius: .50rem;
    color: #fff;
}

#currencies {
    height: 88px;
    width: 100%;
    background-image: url('../assets/grid_ticker.png');
    background-repeat: no-repeat;
    background-position: center;
}

#currencies ul.nav {
    padding-top: 10px;
}

#currencies .nav-item {
    margin: 10px 0;
    line-height: 10px;
    color: #fff;
}

#currencies .nav-item div p {

    margin-bottom: 0.5rem;
}

#currencies .nav-item div p:nth-child(2) {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

#currencies .nav-item div p:last-child {
    font-size: 0.8em;
}

#currencies .nav-item div p:last-child:before {
    font-family: FontAwesome;
    content: "\f0de";
    color: green;
    vertical-align: middle;
    padding-right: 1px;

}

#currencies .nav-item:last-child div p:first-child {
    font-size: 2em;
    color: green;
}

#currencies .nav-item:last-child div p:last-child:before {
    content: "";
}

#platform {
    font-size:
}


#exchange ul {margin-left:15%;}

#exchange ul .nav-item:first-child:before, #exchange ul .nav-item:nth-child(2):before,
#exchange ul .nav-item:last-child:before {
    float: left;
    line-height: 40px;
    font-size: 40px;
    padding-right: 5px;
}

#exchange ul .nav-item:first-child:before {
    content: "1"
}

#exchange ul .nav-item:nth-child(2):before {
    content: "2";
}

#exchange ul .nav-item:last-child:before {
    content: "3";
}

#members {
    height: 500px;
    width: 100%;
    background-image: url('../assets/people_heads.png');
    background-repeat: no-repeat;
    background-position: center;

}

#partners {margin-bottom: 40px 0;}

#about {
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url('../assets/footer_background.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}

#about h5 {
    color: #cfd3d5;
}

#about .table thead tr th, #about .table tbody tr td, #about .table tbody tr th {
    border: none;
    text-align: center;
}

#about .table td, #about .table th {
    padding: 0;
}

#about .table tbody:before {
    /* This doesn't work because of border-collapse */
    line-height:1em;
    content:"_";
    color:white;
    display:block;
}

#footer-text {
    position: absolute;
    bottom: 20px;
}

#social {
    position: absolute;
    bottom: 30px;
    right:10px;
}


@media screen and (max-width: 468px) {
    #social {
        position: absolute;
        bottom: 0px;
        right:0px;
        left: 120px;
    }

}

@media screen and (min-width: 768px) {
    #wrap-header:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 120%;
        width: 100%;
        background-image: url('../assets/circle_header_background-2.png');
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }

    #wrap-header nav {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 768px) {
    #wrap-header{
        height: 400px;
    }

    #social {
        position: absolute;
        bottom: 0px;
        right:0px;
        left: 250px;
    }




}

@media screen and (min-width: 992px) {
    #text-banner {
        font-size: 2em;
    }

    #exchange-text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    #platform ul li.nav-item.m-auto {
        font-size: 1.5rem;
    }

    #platform-text {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1200px) {
    #wrap-header:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30%;
        width: 100%;
        background-image: url('../assets/header_backround_1200.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    #members {
        height: 500px;
        width: 100%;
        background-image: url('../assets/people_heads_1200.png');
        background-repeat: no-repeat;
        background-position: center;

    }
}

@media screen and (max-width: 1400px) {
    #mobile-phone {
        display: none;
    }
}


/*.nav.navbar-nav.ml-auto {
    margin-right: 24%;
    margin-top: -9%;
}*/